@keyframes ghostSlide {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.heroo img {
    opacity: 0;
    animation: ghostSlide 1.5s ease-out forwards;
}

.hidden-scale {
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.hidden-up {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

.cardUS {
    opacity: 0;
    transform: translateY(-30px);
    transition: all 0.4s ease-out;
}

.show {
    opacity: 1 !important;
    transform: none !important;
}